In [1]:
import pandas as pd

In [14]:
df = pd.read_pickle('../data/f.refer.pkl')
df.head()

,date,fid,gd,gn,gs,host_team,name,pos,result,visit_team
0,2018-12-02,783817.0,1.0,2.0,1.0,全北,K1联赛,hr10g,1.0,庆南FC
1,2018-11-10,783817.0,0.0,0.0,0.0,济州联,K1联赛,hr10g,1.0,全北
2,2018-10-28,783817.0,0.0,2.0,2.0,全北,K1联赛,hr10g,2.0,水原
3,2018-10-07,783817.0,2.0,4.0,2.0,蔚山,K1联赛,hr10g,1.0,全北
4,2018-09-26,783817.0,0.0,1.0,1.0,全北,K1联赛,hr10g,2.0,全南天龙

In [15]:
df.shape

(138, 10)

In [13]:
from datetime import datetime
datetime_object = datetime.strptime('2018-10-2', "%Y-%m-%d")
datetime_object

datetime.datetime(2018, 10, 2, 0, 0)