In [2]:
import pandas as pd

In [7]:
df = pd.read_pickle('../data/s.list.pkl')
# df.head()
df.shape

(0, 0)

In [15]:
len(df['fid'].drop_duplicates())

12098

In [105]:
target_df = pd.read_pickle('../data/f.brief.pkl')
len(target_df)

79013

In [5]:
df.head()

     code        full_name  name
0  000001       平安银行股份有限公司  平安银行
1  000002       万科企业股份有限公司   万科A
2  000004   深圳中国农大科技股份有限公司  国农科技
3  000005     深圳世纪星源股份有限公司  世纪星源
4  000006  深圳市振业(集团)股份有限公司  深振业Ａ

In [13]:
games = pd.read_csv('../data/breadt_football_game_list.csv')
games.head()

,id,fid,status,game,turn,home_team,visit_team,gs,gd,gn,offset,time,result
0,1,331954,完,球会友谊,7月赛程,马来西亚明星队,切尔西,0,1,1,受三球半,2019-07-21 20:45:00,0
1,2,331955,完,欧 联,资格赛4,萨拉热窝,奥雷布洛,2,0,2,平手/半球,2019-07-22 01:00:00,2
2,3,331956,完,欧 联,资格赛4,奥勒松,费伦茨瓦罗斯,2,1,3,半球/一球,2019-07-22 01:00:00,2
3,4,321626,完,瑞 典 杯,半决赛,法尔肯堡,哥德堡,2,3,5,受一球,2019-07-22 01:00:00,0
4,5,331957,完,欧 联,资格赛4,米迪兰特,新圣徒,5,2,7,两球/两球半,2019-07-22 01:15:00,2