In [1]:
import pandas as pd

In [2]:
lottery_df = pd.read_csv('../data/breadt_lottery_info_201904291013.csv')
result_df = pd.read_csv('../data/submission_2019.csv')

In [3]:
lottery_df[lottery_df['issue'] == 19014]

     issue  matchid
180  19014  2413879
181  19014  2415064
182  19014  2415077
183  19014  2406827
184  19014  2406830
185  19014  2406823
186  19014  2406824
187  19014  2406822
188  19014  2406825
189  19014  2406831
190  19014  2406829
191  19014  2406322
192  19014  2406319

In [4]:
df = pd.merge(lottery_df, result_df, on='matchid', how='left')
df = df.dropna()

In [5]:
df['score'] = df.apply(lambda row: 1 if row.result == row.pred else 0, axis=1)
df['exist'] = 1

In [6]:
result_df[result_df['matchid'] == 2405531]

      matchid  result  pred
1269  2405531       2   2.0

In [7]:
df[df['issue'] == 19060]

     issue  matchid  result  pred  score  exist
822  19060  2405604     0.0   0.0      1      1
823  19060  2405608     1.0   1.0      1      1
824  19060  2413990     0.0   0.0      1      1
825  19060  2413991     1.0   0.0      0      1
826  19060  2437978     1.0   1.0      1      1
827  19060  2437956     2.0   2.0      1      1
828  19060  2437954     1.0   2.0      0      1
829  19060  2437980     0.0   0.0      1      1
830  19060  2436141     2.0   1.0      0      1
831  19060  2436138     1.0   1.0      1      1
832  19060  2436120     2.0   0.0      0      1
833  19060  2402947     2.0   2.0      1      1
834  19060  2402944     2.0   2.0      1      1
835  19060  2402949     2.0   2.0      1      1

In [8]:
t = df
final_result = t.groupby(t['issue'])[['score','exist']].sum()

In [9]:
f = final_result[final_result['exist'] > 0]
f.sort_values(by=['score', 'exist'], ascending=False)

       score  exist
issue
19055     14     14
19032     13     14
19051     13     14
19031     12     14
19043     12     14
19047     12     14
19052     12     14
19058     12     14
19028     11     14
19029     11     14
19033     11     14
19035     11     14
19037     11     14
19044     11     14
19045     11     14
19048     11     14
19046     10     14
19050     10     14
19054     10     14
19060     10     14
19036      9     14
19053      9     14
19057      9     14
19042      8     14
19056      8     14
19059      8     14
19027      6     14
19049      2      2
19039      1      1

+ 19038 - 19041 都是国家队比赛 应该是世界杯
+ 19030 19034 全部是亚赛和欧赛