In [1]:
import pandas as pd

In [2]:
lottery_df = pd.read_csv('../data/breadt_lottery_info_201904291013.csv')
result_df = pd.read_csv('../data/submission_2019.csv')

In [3]:
result_df.head()

   matchid  result  pred
0  2436956       1   1.0
1  2411793       2   2.0
2  2402780       1   1.0
3  2432035       0   0.0
4  2402777       0   1.0

In [4]:
df = pd.merge(lottery_df, result_df, on='matchid', how='left')
# df = df.dropna()

In [5]:
df['score'] = df.apply(lambda row: 1 if row.result == row.pred else 0, axis=1)

In [6]:
df.head()

   issue  matchid  result  pred  score
0  19001  2405284     2.0   2.0      1
1  19001  2405286     0.0   0.0      1
2  19001  2405285     1.0   1.0      1
3  19001  2405287     1.0   2.0      0
4  19001  2405289     0.0   0.0      1

In [10]:
t = df[df['issue'] < 19049]
final_result = t.groupby(t['issue'])['score'].sum().to_frame()

In [11]:
final_result.sort_values(by=['score'], ascending=False)

       score
issue
19012     14
19008     13
19011     13
19001     11
19009     11
19013     11
19046     10
19031     10
19014     10
19035     10
19026      9
19033      9
19037      9
19045      9
19004      9
19019      9
19023      8
19032      8
19029      8
19048      8
19007      8
19015      8
19005      8
19010      8
19047      7
19042      7
19025      7
19021      6
19017      6
19024      6
19044      6
19043      6
19020      5
19003      5
19002      5
19028      5
19036      5
19027      5
19039      1
19006      0
19040      0
19041      0
19022      0
19034      0
19018      0
19016      0
19030      0
19038      0

+ 19038 - 19041 都是国家队比赛 应该是世界杯
+ 19030 19034 全部是亚赛和欧赛